﻿@model IEnumerable<HotelBooking.ViewModels.RoomsViewModels>

@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRoom)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoomName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HotelName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoomPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalRoom)
    </td>

</tr>
}

</table>
