﻿@model HotelBooking.Models.RoomTypes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
